.display {
  background-color: rgba(187, 197, 209, 0.5);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.192);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
  width: 250px;
}

.game-grid {
  background-color: rgba(187, 197, 209, 0.5);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.192);
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
}

.square {
  height: 70px;
  width: 70px;
}

#timer {
  margin: 0;
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-image: linear-gradient(180deg, #eec0c6 0%, #e58c8a 74%);
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  background-image: url(../img/bg.jpg);
  background-size: 100vw 100vh;
  height: 100%;
  margin: 0;
  overflow: auto;
}

.container {
  align-items: center;
  display: flex;
  max-height: 100%;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
  padding: 0 40px;
}

.title {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.title .logo {
  height: 20vh;
  width: 15vw;
}
